<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_autoCall_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1904},{129,154}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{129,154}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_autoCall_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1748},{129,154}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{129,154}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_autoCheck_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,328},{154,177}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{154,177}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_autoCheck_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,760},{154,179}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{154,179}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_autoFold_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1153},{138,181}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{138,181}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_autoFold_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,145},{138,181}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{138,181}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_bet_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,677},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>game_buyIn_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,328},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_buyIn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,960},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_call_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1155},{156,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,195}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_call_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,958},{156,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,195}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_call_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1506},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>game_cardType_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,328},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_cardType_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,960},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_check_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,958},{156,193}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,193}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_check_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1352},{156,193}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,193}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_check_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,692},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>game_delay_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,692},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>game_fiveBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,507},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_fiveBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,760},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_fiveBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,941},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_fold_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1789},{156,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,195}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_fold_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1592},{156,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,195}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_fold_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1510},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>game_fourBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,930},{107,154}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{107,154}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_fourBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1153},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_fourBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1336},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_halfPot_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1904},{131,154}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{131,154}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_halfPot_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1578},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_halfPot_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,507},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_one_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1748},{131,154}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{131,154}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_one_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,154},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_one_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,154},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_ownerFunc_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,328},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_ownerFunc_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_quit_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_quit_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_raise_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,154},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>game_raise_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,328},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>game_raise_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1510},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>game_rebuy_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,328},{458,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,113}}</string>
                <key>sourceSize</key>
                <string>{458,113}</string>
            </dict>
            <key>game_rebuy_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,328},{458,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,113}}</string>
                <key>sourceSize</key>
                <string>{458,113}</string>
            </dict>
            <key>game_seat_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,2},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>game_share_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,510},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>game_share_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,328},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>game_sitDown_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1578},{462,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,117}}</string>
                <key>sourceSize</key>
                <string>{462,117}</string>
            </dict>
            <key>game_sitDown_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1578},{462,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,117}}</string>
                <key>sourceSize</key>
                <string>{462,117}</string>
            </dict>
            <key>game_standUp_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_standUp_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_table_start_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1592},{411,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,132}}</string>
                <key>sourceSize</key>
                <string>{411,132}</string>
            </dict>
            <key>game_table_start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1592},{411,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,132}}</string>
                <key>sourceSize</key>
                <string>{411,132}</string>
            </dict>
            <key>game_table_start_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1592},{411,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,132}}</string>
                <key>sourceSize</key>
                <string>{411,132}</string>
            </dict>
            <key>game_trippleBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1111},{107,154}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{107,154}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_trippleBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,788},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_trippleBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,154},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_twiceBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1323},{107,154}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{107,154}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_twiceBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,154},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_twiceBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,788},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_twicePot_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,154},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_twicePot_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,154},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_twicePot_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,154},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_twoThreePot_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1574},{107,154}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{107,154}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_twoThreePot_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,154},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_twoThreePot_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_wait_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1510},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>game_win_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,960},{548,187}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,5},{548,187}}</string>
                <key>sourceSize</key>
                <string>{646,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMain_th_6p.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd57ddb7992e1cf5b431e6be006c0674:1/1$</string>
            <key>textureFileName</key>
            <string>GameMain_th_6p.png</string>
        </dict>
    </dict>
</plist>
