<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_autoCall_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,786},{88,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{88,120}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_autoCall_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,778},{88,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{88,120}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_autoCheck_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,682},{102,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{102,120}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_autoCheck_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,622},{102,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{102,120}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_autoFold_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,682},{94,120}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{94,120}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_autoFold_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,682},{94,120}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{94,120}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_bet_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,878},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_buyIn_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,410},{399,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,100}}</string>
                <key>sourceSize</key>
                <string>{399,100}</string>
            </dict>
            <key>game_buyIn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,206},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_call_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{104,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,128}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_call_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,726},{104,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,128}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_call_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,832},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_cardType_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{399,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,100}}</string>
                <key>sourceSize</key>
                <string>{399,100}</string>
            </dict>
            <key>game_cardType_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_check_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,676},{104,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,130}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_check_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,676},{104,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,130}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_check_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,868},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_delay_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,832},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_fold_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,480},{104,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,130}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_fold_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,374},{104,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,130}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_fold_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,782},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_fourBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,874},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,104}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_fourBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,962},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_fourBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_halfPot_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,856},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,104}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_halfPot_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,968},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_halfPot_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,960},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_one_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,782},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,104}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_one_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,870},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_one_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,860},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_ownerFunc_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,308},{399,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,100}}</string>
                <key>sourceSize</key>
                <string>{399,100}</string>
            </dict>
            <key>game_ownerFunc_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,104},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_quit_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_quit_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_raise_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1060},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>game_raise_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1052},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>game_raise_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,678},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_rebuy_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,512},{308,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,78}}</string>
                <key>sourceSize</key>
                <string>{308,78}</string>
            </dict>
            <key>game_rebuy_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{308,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,78}}</string>
                <key>sourceSize</key>
                <string>{308,78}</string>
            </dict>
            <key>game_seat_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,764},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>game_sitDown_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,312},{308,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,78}}</string>
                <key>sourceSize</key>
                <string>{308,78}</string>
            </dict>
            <key>game_sitDown_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{308,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,78}}</string>
                <key>sourceSize</key>
                <string>{308,78}</string>
            </dict>
            <key>game_standUp_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{399,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,100}}</string>
                <key>sourceSize</key>
                <string>{399,100}</string>
            </dict>
            <key>game_standUp_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_table_start_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,592},{273,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,88}}</string>
                <key>sourceSize</key>
                <string>{273,88}</string>
            </dict>
            <key>game_table_start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{273,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,88}}</string>
                <key>sourceSize</key>
                <string>{273,88}</string>
            </dict>
            <key>game_table_start_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,586},{273,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,88}}</string>
                <key>sourceSize</key>
                <string>{273,88}</string>
            </dict>
            <key>game_trippleBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,104}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_trippleBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,782},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_trippleBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twiceBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,104}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twiceBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,876},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twiceBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twoThreePot_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,512},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,104}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twoThreePot_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,868},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twoThreePot_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,778},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_wait_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,592},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_win_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{370,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{370,132}}</string>
                <key>sourceSize</key>
                <string>{430,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMain_en.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a1d878206b58f59b5ca6b3654ec7e11:1/1$</string>
            <key>textureFileName</key>
            <string>GameMain_en.png</string>
        </dict>
    </dict>
</plist>
