<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_autoCall_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,998},{84,120}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{84,120}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_autoCall_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,930},{84,120}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{84,120}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_autoCheck_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,874},{84,122}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{84,122}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_autoCheck_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,716},{84,123}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{84,123}}</string>
                <key>sourceSize</key>
                <string>{104,131}</string>
            </dict>
            <key>game_autoFold_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,844},{84,122}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{84,122}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_autoFold_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,802},{84,122}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{84,122}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_bet_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1210},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_buyIn_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_buyIn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,512},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_call_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,932},{104,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,130}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_call_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,864},{104,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,130}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_call_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1154},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_cardType_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_cardType_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,410},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_check_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,720},{104,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,131}}</string>
                <key>sourceSize</key>
                <string>{104,131}</string>
            </dict>
            <key>game_check_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,614},{104,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,131}}</string>
                <key>sourceSize</key>
                <string>{104,131}</string>
            </dict>
            <key>game_check_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1068},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_collect_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,128},{124,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,50}}</string>
                <key>sourceSize</key>
                <string>{124,50}</string>
            </dict>
            <key>game_collect_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{124,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,50}}</string>
                <key>sourceSize</key>
                <string>{124,50}</string>
            </dict>
            <key>game_delay_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,982},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_fiveBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,896},{90,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,113}}</string>
                <key>sourceSize</key>
                <string>{90,113}</string>
            </dict>
            <key>game_fiveBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{90,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,113}}</string>
                <key>sourceSize</key>
                <string>{90,113}</string>
            </dict>
            <key>game_fiveBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1226},{90,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,113}}</string>
                <key>sourceSize</key>
                <string>{90,113}</string>
            </dict>
            <key>game_fold_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,864},{104,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,130}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_fold_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,826},{104,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,130}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_fold_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,896},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_fourBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1228},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,104}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_fourBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_fourBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1318},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_halfPot_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1222},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,104}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_halfPot_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1228},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_halfPot_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1130},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_one_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1154},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,104}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_one_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1062},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_one_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1100},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_ownerFunc_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_ownerFunc_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,308},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_quit_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_quit_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,206},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_raise_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1172},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>game_raise_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1120},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>game_raise_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1124},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_rebuy_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,694},{308,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,78}}</string>
                <key>sourceSize</key>
                <string>{308,78}</string>
            </dict>
            <key>game_rebuy_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,614},{308,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,78}}</string>
                <key>sourceSize</key>
                <string>{308,78}</string>
            </dict>
            <key>game_seat_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1228},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>game_share_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1016},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>game_share_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,888},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>game_shoppingStore_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_sitDown_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,564},{308,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,78}}</string>
                <key>sourceSize</key>
                <string>{308,78}</string>
            </dict>
            <key>game_sitDown_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,254},{308,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,78}}</string>
                <key>sourceSize</key>
                <string>{308,78}</string>
            </dict>
            <key>game_sixBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1136},{90,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,113}}</string>
                <key>sourceSize</key>
                <string>{90,113}</string>
            </dict>
            <key>game_sixBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1038},{90,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,113}}</string>
                <key>sourceSize</key>
                <string>{90,113}</string>
            </dict>
            <key>game_sixBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,970},{90,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,113}}</string>
                <key>sourceSize</key>
                <string>{90,113}</string>
            </dict>
            <key>game_standUp_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,104},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_standUp_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_store_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_store_firstgoods_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,182},{160,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,58}}</string>
                <key>sourceSize</key>
                <string>{160,58}</string>
            </dict>
            <key>game_store_firstgoods_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,122},{160,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,58}}</string>
                <key>sourceSize</key>
                <string>{160,58}</string>
            </dict>
            <key>game_store_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_store_secondgoods_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,62},{160,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,58}}</string>
                <key>sourceSize</key>
                <string>{160,58}</string>
            </dict>
            <key>game_store_secondgoods_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{160,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,58}}</string>
                <key>sourceSize</key>
                <string>{160,58}</string>
            </dict>
            <key>game_table_start_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{274,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,88}}</string>
                <key>sourceSize</key>
                <string>{274,88}</string>
            </dict>
            <key>game_table_start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,774},{274,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,88}}</string>
                <key>sourceSize</key>
                <string>{274,88}</string>
            </dict>
            <key>game_table_start_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{274,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,88}}</string>
                <key>sourceSize</key>
                <string>{274,88}</string>
            </dict>
            <key>game_trippleBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1192},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,104}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_trippleBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1062},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_trippleBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1080},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twiceBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1154},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,104}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twiceBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twiceBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,988},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twicePot_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,970},{90,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,113}}</string>
                <key>sourceSize</key>
                <string>{90,113}</string>
            </dict>
            <key>game_twicePot_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,729},{90,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,113}}</string>
                <key>sourceSize</key>
                <string>{90,113}</string>
            </dict>
            <key>game_twicePot_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,614},{90,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,113}}</string>
                <key>sourceSize</key>
                <string>{90,113}</string>
            </dict>
            <key>game_twoThreePot_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,104}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twoThreePot_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twoThreePot_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1008},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_wait_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1038},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_win_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,242},{370,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{370,132}}</string>
                <key>sourceSize</key>
                <string>{430,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMain_cn.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:160e385a88277e01c84e1d7430b3c61b:1/1$</string>
            <key>textureFileName</key>
            <string>GameMain_cn.png</string>
        </dict>
    </dict>
</plist>
