<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_addFriend_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,84},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>game_addFriend_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,946},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>game_addFriend_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,946},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>game_allIn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,475},{104,104}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_allIn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,377},{104,104}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_allIn_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,475},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_arrow_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,63},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>game_audioPlaying_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,209},{80,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,26}}</string>
                <key>sourceSize</key>
                <string>{80,26}</string>
            </dict>
            <key>game_audioProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,738},{208,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,24}}</string>
                <key>sourceSize</key>
                <string>{208,24}</string>
            </dict>
            <key>game_audioProgress_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{208,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,24}}</string>
                <key>sourceSize</key>
                <string>{208,24}</string>
            </dict>
            <key>game_bigBlind_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,704},{37,41}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{37,41}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>game_cardHighlight_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,338},{84,118}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,118}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>game_cardType_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,713},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>game_card_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,327},{84,116}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>game_card_reverse.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,248},{88,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>game_cartType_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,486},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>game_checkBox_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,743},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>game_checkBox_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,704},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>game_chip_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,685},{39,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{39,41}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>game_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,677},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>game_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,617},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>game_dealer_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,705},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>game_decrease_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,512},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>game_decrease_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,464},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>game_decrease_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,329},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>game_delay_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,98},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>game_delay_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,56},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>game_delay_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>game_dialogCancel_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>game_dialogOK_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,738},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>game_dialogRetry_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,738},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>game_dialog_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,483},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>game_emotion_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,252},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>game_emotion_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,200},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>game_endhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,585},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>game_female_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,705},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>game_handCard_cover_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,152},{51,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>game_handChips_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,518},{88,98}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,34},{88,98}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>game_header_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,608},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>game_inPot_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{161,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,59}}</string>
                <key>sourceSize</key>
                <string>{161,59}</string>
            </dict>
            <key>game_increase_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,416},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>game_increase_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,368},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>game_increase_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,320},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>game_male_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,705},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>game_microPhone_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{54,94}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{54,94}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>game_microPhone_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,63},{130,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,140}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>game_money_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,743},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>game_note_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,613},{90,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>game_note_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,521},{90,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>game_owner_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,743},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>game_playerAudioSwitch_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,946},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>game_playerAudioSwitch_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,946},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>game_playerAudioSwitch_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,946},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>game_popProgressClose_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,411},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>game_preRecord_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,318},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>game_preRecord_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,191},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>game_progress_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,581},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>game_progress_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,232},{130,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,14}}</string>
                <key>sourceSize</key>
                <string>{130,14}</string>
            </dict>
            <key>game_progress_range.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,216},{130,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,14}}</string>
                <key>sourceSize</key>
                <string>{130,14}</string>
            </dict>
            <key>game_progress_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,77},{130,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,14}}</string>
                <key>sourceSize</key>
                <string>{130,14}</string>
            </dict>
            <key>game_property_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{51,73}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{51,73}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>game_property_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,152},{59,65}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{59,65}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>game_property_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,946},{75,55}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{75,55}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>game_property_03_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,947},{75,55}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{75,55}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>game_property_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,946},{67,93}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{67,93}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>game_property_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,110},{57,79}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{57,79}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>game_quit_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,741},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>game_rebuy_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,713},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>game_red_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,940},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>game_resume_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,195},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>game_resume_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,84},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>game_seat_valid.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,640},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>game_showCard_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,291},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>game_sliderChip_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,413},{116,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,60}}</string>
                <key>sourceSize</key>
                <string>{116,60}</string>
            </dict>
            <key>game_sliderThumb_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,764},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>game_sliderThumb_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,252},{59,64}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,64}}</string>
                <key>sourceSize</key>
                <string>{59,72}</string>
            </dict>
            <key>game_sliderTrack_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,304},{50,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,14}}</string>
                <key>sourceSize</key>
                <string>{52,14}</string>
            </dict>
            <key>game_slider_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,734}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,734}}</string>
                <key>sourceSize</key>
                <string>{190,734}</string>
            </dict>
            <key>game_slider_thumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,424},{116,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,60}}</string>
                <key>sourceSize</key>
                <string>{116,60}</string>
            </dict>
            <key>game_slider_track.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,940},{4,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,484}}</string>
                <key>sourceSize</key>
                <string>{4,484}</string>
            </dict>
            <key>game_smallBlind_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,640},{43,43}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{43,43}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>game_standUp_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,581},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{32,24}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>game_switchRect_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,726},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>game_switchRect_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,744},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>game_switch_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,313},{96,64}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{102,64}</string>
            </dict>
            <key>game_switch_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,213},{98,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{98,64}}</string>
                <key>sourceSize</key>
                <string>{102,64}</string>
            </dict>
            <key>game_tab_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,600},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>game_tab_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,560},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMain.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:927b72c0a3e8a50aa288e2e11ee34a75:1/1$</string>
            <key>textureFileName</key>
            <string>GameMain.png</string>
        </dict>
    </dict>
</plist>
