<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_autoCall_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,717},{129,154}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{129,154}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_autoCall_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,651},{129,154}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{129,154}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_autoCheck_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,331},{154,177}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{154,177}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_autoCheck_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,294},{154,179}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{154,179}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_autoFold_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,154},{138,181}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{138,181}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_autoFold_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,148},{138,181}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{138,181}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_bet_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,922},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>game_buyIn_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,154},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_buyIn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,963},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_call_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,651},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_call_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,624},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_call_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,794},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>game_cardType_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,331},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_cardType_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,963},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_check_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1796},{156,193}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,193}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_check_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1796},{156,193}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,193}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_check_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,666},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>game_delay_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,538},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>game_fold_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1796},{156,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,195}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_fold_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1796},{156,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,195}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_fold_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,410},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>game_fourBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,724},{107,154}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{107,154}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_fourBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,587},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_fourBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,487},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_halfPot_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,946},{107,154}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{107,154}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_halfPot_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,580},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_halfPot_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,450},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_one_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,918},{107,154}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{107,154}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_one_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,443},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_one_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,306},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_ownerFunc_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,331},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_ownerFunc_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_quit_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_quit_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_raise_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,788},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>game_raise_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,651},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>game_raise_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,282},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>game_rebuy_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,536},{458,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,113}}</string>
                <key>sourceSize</key>
                <string>{458,113}</string>
            </dict>
            <key>game_rebuy_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,421},{458,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,113}}</string>
                <key>sourceSize</key>
                <string>{458,113}</string>
            </dict>
            <key>game_seat_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,2},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>game_sitDown_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,306},{458,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,113}}</string>
                <key>sourceSize</key>
                <string>{458,113}</string>
            </dict>
            <key>game_sitDown_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,324},{458,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,113}}</string>
                <key>sourceSize</key>
                <string>{458,113}</string>
            </dict>
            <key>game_standUp_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_standUp_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{630,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,150}}</string>
                <key>sourceSize</key>
                <string>{630,150}</string>
            </dict>
            <key>game_table_start_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1595},{405,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,128}}</string>
                <key>sourceSize</key>
                <string>{405,128}</string>
            </dict>
            <key>game_table_start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1595},{405,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,128}}</string>
                <key>sourceSize</key>
                <string>{405,128}</string>
            </dict>
            <key>game_table_start_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1595},{405,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,128}}</string>
                <key>sourceSize</key>
                <string>{405,128}</string>
            </dict>
            <key>game_trippleBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,809},{107,154}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{107,154}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_trippleBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,154},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_trippleBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,154},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_twiceBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,807},{107,154}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{107,154}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_twiceBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,154},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_twiceBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,154},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_twoThreePot_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,154},{107,154}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{107,154}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_twoThreePot_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,154},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_twoThreePot_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>game_wait_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,154},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>game_win_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1595},{554,199}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{554,199}}</string>
                <key>sourceSize</key>
                <string>{646,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMain_en_6p.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef57485fdde924e85dd55b6f06384b03:1/1$</string>
            <key>textureFileName</key>
            <string>GameMain_en_6p.png</string>
        </dict>
    </dict>
</plist>
