<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_addFriend_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,901},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>game_addFriend_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,860},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>game_addFriend_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,801},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>game_allIn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,689},{156,157}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,157}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_allIn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,523},{156,157}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,157}}</string>
                <key>sourceSize</key>
                <string>{156,195}</string>
            </dict>
            <key>game_allIn_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,716},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>game_arrow_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,240},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>game_audioPlaying_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,741},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>game_audioProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,202},{312,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,36}}</string>
                <key>sourceSize</key>
                <string>{312,36}</string>
            </dict>
            <key>game_audioProgress_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{312,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,36}}</string>
                <key>sourceSize</key>
                <string>{312,36}</string>
            </dict>
            <key>game_bigBlind_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,653},{58,61}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{58,61}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>game_cardHighlight_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,523},{134,184}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,184}}</string>
                <key>sourceSize</key>
                <string>{138,200}</string>
            </dict>
            <key>game_cardType_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,986},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>game_card_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,383},{138,194}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,194}}</string>
                <key>sourceSize</key>
                <string>{138,200}</string>
            </dict>
            <key>game_card_reverse.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,383},{138,194}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,194}}</string>
                <key>sourceSize</key>
                <string>{138,200}</string>
            </dict>
            <key>game_cartType_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,728},{150,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,45}}</string>
                <key>sourceSize</key>
                <string>{150,45}</string>
            </dict>
            <key>game_checkBox_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,993},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>game_checkBox_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,801},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>game_chip_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1057},{60,63}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{60,63}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>game_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1001},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>game_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1009},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>game_dealer_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,659},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>game_decrease_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1010},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>game_decrease_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>game_decrease_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1071},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>game_delay_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,986},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>game_delay_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1099},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>game_delay_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1048},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>game_dialogCancel_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,302},{300,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,120}}</string>
                <key>sourceSize</key>
                <string>{300,120}</string>
            </dict>
            <key>game_dialogOK_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,240},{300,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,120}}</string>
                <key>sourceSize</key>
                <string>{300,120}</string>
            </dict>
            <key>game_dialogRetry_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{300,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,120}}</string>
                <key>sourceSize</key>
                <string>{300,120}</string>
            </dict>
            <key>game_dialog_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,884},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>game_emotion_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1064},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>game_emotion_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,993},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>game_endhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,681},{150,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,45}}</string>
                <key>sourceSize</key>
                <string>{150,45}</string>
            </dict>
            <key>game_female_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1091},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>game_handCard_cover_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,984},{85,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,77}}</string>
                <key>sourceSize</key>
                <string>{85,79}</string>
            </dict>
            <key>game_handChips_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,659},{140,154}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,60},{140,154}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>game_header_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,847},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>game_inPot_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,194},{268,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,98}}</string>
                <key>sourceSize</key>
                <string>{268,98}</string>
            </dict>
            <key>game_increase_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,939},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>game_increase_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,868},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>game_increase_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,797},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>game_male_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1081},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>game_microPhone_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,844},{77,138}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,72},{77,138}}</string>
                <key>sourceSize</key>
                <string>{195,210}</string>
            </dict>
            <key>game_microPhone_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,294},{195,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,210}}</string>
                <key>sourceSize</key>
                <string>{195,210}</string>
            </dict>
            <key>game_money_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,710},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>game_note_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,756},{135,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,120}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>game_note_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,604},{135,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,120}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>game_owner_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1099},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>game_playerAudioSwitch_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>game_playerAudioSwitch_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>game_playerAudioSwitch_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,202},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>game_popProgressClose_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,591},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>game_preRecord_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,960},{86,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,89}}</string>
                <key>sourceSize</key>
                <string>{86,89}</string>
            </dict>
            <key>game_preRecord_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,921},{86,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,89}}</string>
                <key>sourceSize</key>
                <string>{86,89}</string>
            </dict>
            <key>game_progress_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,878},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>game_progress_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,362},{195,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,19}}</string>
                <key>sourceSize</key>
                <string>{195,19}</string>
            </dict>
            <key>game_progress_range.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,362},{195,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,19}}</string>
                <key>sourceSize</key>
                <string>{195,19}</string>
            </dict>
            <key>game_progress_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,269},{195,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,19}}</string>
                <key>sourceSize</key>
                <string>{195,19}</string>
            </dict>
            <key>game_property_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,744},{51,73}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,14},{51,73}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>game_property_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,523},{59,65}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{59,65}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>game_property_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,371},{75,55}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{75,55}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>game_property_03_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,294},{75,55}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{75,55}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>game_property_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,687},{67,93}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{67,93}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>game_property_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,466},{57,79}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{57,79}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>game_quit_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,816},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>game_rebuy_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,689},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>game_red_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,448},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>game_resume_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{196,196}}</string>
                <key>sourceSize</key>
                <string>{198,198}</string>
            </dict>
            <key>game_resume_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,491},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{196,196}}</string>
                <key>sourceSize</key>
                <string>{198,198}</string>
            </dict>
            <key>game_seat_valid.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,775},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>game_showCard_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,760},{54,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,40}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>game_sliderChip_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{174,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,90}}</string>
                <key>sourceSize</key>
                <string>{174,90}</string>
            </dict>
            <key>game_sliderThumb_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1119},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>game_sliderThumb_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,783},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
            <key>game_sliderTrack_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,194},{73,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,20}}</string>
                <key>sourceSize</key>
                <string>{75,20}</string>
            </dict>
            <key>game_slider_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,1014}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,1014}}</string>
                <key>sourceSize</key>
                <string>{190,1014}</string>
            </dict>
            <key>game_slider_thumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{174,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,90}}</string>
                <key>sourceSize</key>
                <string>{174,90}</string>
            </dict>
            <key>game_slider_track.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{6,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,726}}</string>
                <key>sourceSize</key>
                <string>{6,726}</string>
            </dict>
            <key>game_smallBlind_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,590},{58,61}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{58,61}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>game_standUp_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,723},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{32,24}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>game_switchRect_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1081},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>game_switchRect_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1081},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>game_switch_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,525},{96,64}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{102,64}</string>
            </dict>
            <key>game_switch_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{98,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{98,64}}</string>
                <key>sourceSize</key>
                <string>{102,64}</string>
            </dict>
            <key>game_tab_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,989},{66,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,55}}</string>
                <key>sourceSize</key>
                <string>{66,55}</string>
            </dict>
            <key>game_tab_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,921},{66,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,55}}</string>
                <key>sourceSize</key>
                <string>{66,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMain_6p.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9579fd9c80fdc80655d0c3d09ca583c7:1/1$</string>
            <key>textureFileName</key>
            <string>GameMain_6p.png</string>
        </dict>
    </dict>
</plist>
