<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_autoCall_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,788},{88,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{88,120}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_autoCall_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{88,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{88,120}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_autoCheck_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,870},{102,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{102,120}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_autoCheck_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,788},{102,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{102,120}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_autoFold_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,748},{94,120}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{94,120}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_autoFold_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,666},{94,120}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{94,120}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_bet_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,278},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_buyIn_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,410},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_buyIn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_call_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,682},{104,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,128}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_call_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,682},{104,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,128}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_call_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,232},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_cardType_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,308},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_cardType_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_check_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,682},{104,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,130}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_check_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{104,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,130}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_check_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,186},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_delay_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,140},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_fiveBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,972},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_fiveBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,972},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_fiveBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1066},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_fold_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,480},{104,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,130}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_fold_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,374},{104,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,130}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>game_fold_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,94},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_fourBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1062},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,104}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_fourBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,984},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_fourBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,970},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_halfPot_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1062},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,104}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_halfPot_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,970},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_halfPot_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,970},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_one_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,998},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,104}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_one_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_one_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,880},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_ownerFunc_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,206},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_ownerFunc_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_quit_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,104},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_quit_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_raise_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1062},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>game_raise_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>game_raise_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,48},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_rebuy_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,586},{308,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,78}}</string>
                <key>sourceSize</key>
                <string>{308,78}</string>
            </dict>
            <key>game_rebuy_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,512},{308,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,78}}</string>
                <key>sourceSize</key>
                <string>{308,78}</string>
            </dict>
            <key>game_seat_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1076},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>game_share_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,756},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>game_share_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,756},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>game_sitDown_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{308,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,78}}</string>
                <key>sourceSize</key>
                <string>{308,78}</string>
            </dict>
            <key>game_sitDown_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,324},{308,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,78}}</string>
                <key>sourceSize</key>
                <string>{308,78}</string>
            </dict>
            <key>game_standUp_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_standUp_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>game_table_start_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,666},{274,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,88}}</string>
                <key>sourceSize</key>
                <string>{274,88}</string>
            </dict>
            <key>game_table_start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,592},{274,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,88}}</string>
                <key>sourceSize</key>
                <string>{274,88}</string>
            </dict>
            <key>game_table_start_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{274,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,88}}</string>
                <key>sourceSize</key>
                <string>{274,88}</string>
            </dict>
            <key>game_trippleBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,880},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_trippleBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,974},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_trippleBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,892},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twiceBlind_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,892},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,104}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twiceBlind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,878},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twiceBlind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,878},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twicePot_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,878},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twicePot_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twicePot_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,788},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twoThreePot_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,512},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,104}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twoThreePot_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,788},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_twoThreePot_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,634},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>game_wait_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>game_win_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{370,130}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{370,130}}</string>
                <key>sourceSize</key>
                <string>{430,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMain_th.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c212139861b25174061e94d4545d439:1/1$</string>
            <key>textureFileName</key>
            <string>GameMain_th.png</string>
        </dict>
    </dict>
</plist>
