<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>replay_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replay_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{140,1},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replay_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,137}</string>
                <key>spriteSourceSize</key>
                <string>{137,137}</string>
                <key>textureRect</key>
                <string>{{279,1},{137,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>replay_cn.png</string>
            <key>size</key>
            <string>{417,139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20d1892f013fc0b55df7fd356485265f:3d8997687e94dd42166e5ac8cf075482:927fa0916d7a7e610ae6b4a702924af2$</string>
            <key>textureFileName</key>
            <string>replay_cn.png</string>
        </dict>
    </dict>
</plist>
