<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SingleBuyInOverLeaderTip</key>
	<string>不超过chip leader</string>
	<key>SingleBuyInTimesTip</key>
	<string>单次带入手数上限</string>
	<key>SingleBuyInTip</key>
	<string>单次带入限制</string>
	<key>BringInTimesTip</key>
	<string>带入记分牌倍数</string>
	<key>Return</key>
	<string>กลับ</string>
	<key>NetworkReconnect</key>
	<string>เชื่อมต่อใหม่</string>
	<key>EnterGameFailTip</key>
	<string>อินเทอร์เน็ตในปัจจุบันไม่ค่อยดี กรุณาลองใหม่อีกที</string>
	<key>BringInOverLimitTip</key>
	<string>ถึงจำกัดใหญ่ที่สุดสำหรับการนำชิปเข้า</string>
	<key>LessCoinTip</key>
	<string>เหรียญทองไม่พอ กรุณาไปเติมเงินที่มอลล์</string>
	<key>BringInScuccessExTip</key>
	<string>การนำชิปเข้ามาสำเร็จ</string>
	<key>BringInAgreeExTip</key>
	<string>เจ้าของห้องยินยอมให้คุณนำชิปเข้า</string>
	<key>BringInWaitTip</key>
	<string>กำลังขออนุญาตนำชิปเข้าจากเจ้าของห้องอยู่ กรุณารอสักครู่</string>
	<key>BringInFailureTip</key>
	<string>การนำชิปเข้าล้มเหลว</string>
	<key>BringInScuccessTip</key>
	<string>การนำชิปเข้าสำเร็จ จะมีผลบังคับใช้ในมือต่อไป</string>
	<key>Disagree</key>
	<string>ปฏิเสธ</string>
	<key>Agree</key>
	<string>ตกลง</string>
	<key>BringInComp</key>
	<string>นำเข้า</string>
	<key>BringInWealthLesstip</key>
	<string>จำนวนสมบัติไม่พอ กรุณาไปซื้อที่ร้าน</string>
	<key>BringInDisagreeTip</key>
	<string>เจ้าของห้องปฏิเสธการขอนำชิปเข้าของคุณ</string>
	<key>BringInAgreeTip</key>
	<string>เจ้าของห้องยินยอมให้คุณนำชิปเข้าแล้ว จะมีผลบังคับใช้ในมือต่อไป</string>
	<key>NetworkTimeOutTip</key>
	<string>เน็ตไม่ดี</string>
	<key>BringInCtr</key>
	<string>ควบคุมการนำชิปเข้า</string>
	<key>PreStartTip</key>
	<string>เกมจะเริ่มต้นในอีก10นาทีโดยอัตโนมัติ</string>
	<key>ControlBringIn</key>
	<string>ควบคุมการนำชิปเข้า</string>
	<key>PlayerNotInTableTip</key>
	<string>มีแต่ผู้เล่นที่เล่นโป๊กเกอร์ในเก่มถึงแจกพร็อพได้</string>
	<key>LoadingTip</key>
	<string>กำลังดาวน์โหลด...</string>
	<key>GamePausePreTip</key>
	<string>หลังจบมือนี้เกมจะหยุด</string>
	<key>ToBuyContent</key>
	<string>ชิปไม่พอ กรุณาซื้อเพิ่ม</string>
	<key>ToBuyTitle</key>
	<string>แสดงข้อมูล</string>
	<key>Free</key>
	<string>ฟรี</string>
	<key>Pot</key>
	<string>กองกลาง</string>
	<key>Fold</key>
	<string>หมอบ</string>
	<key>TableEndTip</key>
	<string>สิ้นสุดแล้ว</string>
	<key>CollectFailTip</key>
	<string>จัดเก็บล้มเหลว</string>
	<key>CollectSuccessTip</key>
	<string>จัดเก็บสำเร็จ</string>
	<key>BuyInOverTip</key>
	<string>จำนวนBuy-inสูงสุดแล้ว</string>
	<key>OccupyFailTip</key>
	<string>ตำแหน่งผิด</string>
	<key>SelectSeatTip</key>
	<string>เลือกที่นั่ง</string>
	<key>WaitTableStartTip</key>
	<string>รอเจ้าเริ่มเกม</string>
	<key>PauseGame</key>
	<string>หยุดเกม</string>
	<key>BuyInControl</key>
	<string>ตั้งค่า Buy-in</string>
	<key>OwnerFunc</key>
	<string>ตั้งค่า</string>
	<key>GamePauseTip</key>
	<string>หยุดเกม กรุณารออีก</string>
	<key>LessChipsTip</key>
	<string>ชิปไม่พอ</string>
	<key>RecordFee</key>
	<string>ค่าบริการ</string>
	<key>Wealth</key>
	<string>คงเหลือ</string>
	<key>Chips</key>
	<string>ชิป</string>
	<key>WinRate</key>
	<string>อัตราชนะ</string>
	<key>InPotFreqency</key>
	<string>เล่นบ่อย</string>
	<key>TotalHands</key>
	<string>มือทั้งหมด</string>
	<key>TotalGames</key>
	<string>เกมทั้งหมด</string>
	<key>Royal</key>
	<string>รอยัลฟลัช</string>
	<key>StraightFlush</key>
	<string>สเตรทฟลัช</string>
	<key>Four</key>
	<string>โฟร์การ์ด</string>
	<key>FullHouse</key>
	<string>ฟูลเฮาส์</string>
	<key>Flush</key>
	<string>ฟลัช</string>
	<key>Straight</key>
	<string>สเตรท</string>
	<key>Three</key>
	<string>ตอง</string>
	<key>TwoPair</key>
	<string>2คู่</string>
	<key>OnePair</key>
	<string>1คู่</string>
	<key>HighCard</key>
	<string>ไพ่สูง</string>
	<key>BrandProfile</key>
	<string>มือโปรด</string>
	<key>LastHand</key>
	<string>มือสุดท้าย</string>
	<key>Mute</key>
	<string>ปิดเสียง</string>
	<key>Spectator</key>
	<string>ผู้ชม</string>
	<key>Score</key>
	<string>คะแนน</string>
	<key>BuyIn</key>
	<string>Buy-in</string>
	<key>Nick</key>
	<string>ชื่อ</string>
	<key>LiveRank</key>
	<string>อันดับล่าสุด</string>
	<key>ReleaseCancel</key>
	<string>ปล่อยมือเพื่อยกเลิก</string>
	<key>SlideCancel</key>
	<string>สไลด์เพื่อยกเลิก</string>
	<key>WaitNextTip</key>
	<string>รอมือถัดไป</string>
	<key>Blind</key>
	<string>Stakes</string>
	<key>InviteCode</key>
	<string>IDโต๊ะ</string>
</dict>
</plist>
