<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SingleBuyInOverLeaderTip</key>
	<string>不超过chip leader</string>
	<key>SingleBuyInTimesTip</key>
	<string>单次带入手数上限</string>
	<key>SingleBuyInTip</key>
	<string>单次带入限制</string>
	<key>BringInTimesTip</key>
	<string>带入记分牌倍数</string>
	<key>Return</key>
	<string>返回</string>
	<key>NetworkReconnect</key>
	<string>重连</string>
	<key>EnterGameFailTip</key>
	<string>当前网络状态较差，请稍后重试</string>
	<key>BringInOverLimitTip</key>
	<string>已达到最大带入上限</string>
	<key>LessCoinTip</key>
	<string>金币不足，请到商城充值</string>
	<key>BringInScuccessExTip</key>
	<string>带入成功</string>
	<key>BringInAgreeExTip</key>
	<string>房主已经同意您带入筹码</string>
	<key>BringInWaitTip</key>
	<string>请求房主带入同意中，请等待</string>
	<key>BringInFailureTip</key>
	<string>带入失败</string>
	<key>BringInScuccessTip</key>
	<string>带入成功,下一手生效</string>
	<key>Disagree</key>
	<string>拒绝</string>
	<key>Agree</key>
	<string>同意</string>
	<key>BringInComp</key>
	<string>带入</string>
	<key>BringInWealthLesstip</key>
	<string>财富额不足，请前往商店购买</string>
	<key>BringInDisagreeTip</key>
	<string>房主拒绝您带入筹码</string>
	<key>BringInAgreeTip</key>
	<string>房主已经同意您带入筹码，下一手生效</string>
	<key>NetworkTimeOutTip</key>
	<string>网络不给力</string>
	<key>BringInCtr</key>
	<string>控制带入</string>
	<key>PreStartTip</key>
	<string>牌局10分钟后自动开始</string>
	<key>ControlBringIn</key>
	<string>控制带入</string>
	<key>PlayerNotInTableTip</key>
	<string>仅在牌局中打牌的玩家才能发道具</string>
	<key>LoadingTip</key>
	<string>Loading</string>
	<key>GamePausePreTip</key>
	<string>The Game will be Paused after the Hand</string>
	<key>ToBuyContent</key>
	<string>Chip is not Enough,Please\n Go to the Store to Buy</string>
	<key>ToBuyTitle</key>
	<string>System Info</string>
	<key>Free</key>
	<string>Free</string>
	<key>Pot</key>
	<string>Pot</string>
	<key>Fold</key>
	<string>Fold</string>
	<key>TableEndTip</key>
	<string>Game is Over</string>
	<key>CollectFailTip</key>
	<string>Failed to Add to Favorite</string>
	<key>CollectSuccessTip</key>
	<string>Added to Favorite Hand Successfully!</string>
	<key>BuyInOverTip</key>
	<string>You Have Reached to the Buy-in  Limit</string>
	<key>OccupyFailTip</key>
	<string>Failed to Sit Down</string>
	<key>SelectSeatTip</key>
	<string>Sit Down Please</string>
	<key>WaitTableStartTip</key>
	<string>Waiting for Start</string>
	<key>PauseGame</key>
	<string>Pause Table</string>
	<key>BuyInControl</key>
	<string>Buy-in Controller</string>
	<key>OwnerFunc</key>
	<string>Game Controller</string>
	<key>GamePauseTip</key>
	<string>Table is Paused, Please Wait</string>
	<key>LessChipsTip</key>
	<string>Chip is not Enough</string>
	<key>RecordFee</key>
	<string>Fee</string>
	<key>Wealth</key>
	<string>Wealth</string>
	<key>Chips</key>
	<string>chips</string>
	<key>WinRate</key>
	<string>Win Rate</string>
	<key>InPotFreqency</key>
	<string>Play Frequency</string>
	<key>TotalHands</key>
	<string>Total Hands</string>
	<key>TotalGames</key>
	<string>Total Games</string>
	<key>Royal</key>
	<string>Royal Flush</string>
	<key>StraightFlush</key>
	<string>Straight Flush</string>
	<key>Four</key>
	<string>Four</string>
	<key>FullHouse</key>
	<string>Full House</string>
	<key>Flush</key>
	<string>Flush</string>
	<key>Straight</key>
	<string>Straight</string>
	<key>Three</key>
	<string>Set</string>
	<key>TwoPair</key>
	<string>Two Pair</string>
	<key>OnePair</key>
	<string>One Pair</string>
	<key>HighCard</key>
	<string>High Card</string>
	<key>BrandProfile</key>
	<string>Hands</string>
	<key>LastHand</key>
	<string>Last Hand</string>
	<key>Mute</key>
	<string>Mute</string>
	<key>Spectator</key>
	<string>On Watch</string>
	<key>Score</key>
	<string>Win/Loss</string>
	<key>BuyIn</key>
	<string>Buy-in</string>
	<key>Nick</key>
	<string>Player</string>
	<key>LiveRank</key>
	<string>Live Rank</string>
	<key>ReleaseCancel</key>
	<string>Release to Cancel</string>
	<key>SlideCancel</key>
	<string>Slide up to Cancel</string>
	<key>WaitNextTip</key>
	<string>Wait for the Next Hand</string>
	<key>Blind</key>
	<string>Stakes</string>
	<key>InviteCode</key>
	<string>Table ID </string>
</dict>
</plist>
